


.product{
    margin:1rem;
    border: 1px solid #ae486f;
    padding: 2rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    
}


.product:hover{
    box-shadow: 0 0 10px 5px #96355d99;
    transition: ease-in-out 500ms;
    
}




.product img{
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.product p{
   
    max-width: 700px;
    text-align: justify;
    text-justify: inter-word;
    display: block;
    margin:1rem auto;
    flex-grow: 1;
}

.shop-button{
    margin-bottom: 0;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    margin-top:1rem;
    text-transform: capitalize;
}

h1{
    font-size:4rem;
    text-align: left;
}

.product-info{
    margin:2rem auto;
    max-width: 1200px;

}

.product-info p{
    text-align: left;
    max-width: 700px;
    
}

.products-grid{
    display: grid;
    animation: moveUp 2s ease;
    margin: 0 auto;
    max-width: 1200px;
}


@keyframes moveUp{
    0%{
        transform: translateY(700px);
    }
    100%{
        transform: translateY(1);
    }
}

@media screen and (min-width:760px){
    .products-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .product{
        margin: 0 auto;
    }

    .product-info{
        margin:2rem auto;
    }
    
}